$white: #ffffff;
$black: #0d1319;
$black-light: #140b2e;
$main: #4b68ef;
$grey: #7f8285;
$light-grey: #f0f3fa;
$purple-light: #dfd7f6;
$purple-very-light: rgb(242, 238, 250);
$purple-dark: rgba(95, 54, 211, 0.2);
$red: #ff5a5a;
$yellow: #ffdc5a;
$green: #60c634;
$red-dark: rgba(229, 46, 46, 0.230635);
$orange: #ff963a;
$dark-grey: #6c7a8f;
$light-blue: #f6f7fb;
$default-text-color:#7a869a;

$new-dark-grey: #494949;
$new-dark-white: #f3f3f3;
$new-light-grey: #a5a5a5;
$new-almost-grey: #949494;
$new-light-black: #6d6d6d;
$new-almost-black: #303030;
$new-another-black: #1c1c1c;
$new-black: #000000;
$new-light-pink: #fff9f6;
$new-pink: #ffdbcb;
$new-orange:#f2733c;
$new-red: #cf3701;
$new-green: #00693d;
$new-blue: #0038ff; 


