

.heading {
    width: 363px;
height: 48px;

/* Small Headline */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 48px;
text-align: center;
letter-spacing: -0.01em;
margin-left:15%;
color: #1C1C1C;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.confirmation-text{
    width: 428px;
height: 52px;

/* Body text 1 */
margin-left:15%;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 26px;
/* or 130% */

text-align: center;

color: #1C1C1C;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.confirm{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 24px;
gap: 12px;
color: #FFFFFF;
position: absolute;
left: 51.75%;
right: 1.52%;
top: 73.68%;
bottom: 2%;
cursor: pointer;
/* Black/1 */

background: #1C1C1C;
border-radius: 32px;
}

.can{
    box-sizing: border-box;

/* Auto layout */
cursor: pointer;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 14px 24px;
gap: 12px;
color: black;
position: absolute;
left: 1.52%;
right: 51.75%;
top: 73.68%;
bottom: 2%;

border: 1px solid #1C1C1C;
border-radius: 32px;
}
