.ub-confirmation-modal {
  .ant-modal-content {
    padding: 35px !important;
    border-radius: 8px;
  }
  .ant-modal-close-x {
    margin: 15px 10px 0 0;
  }
  .ant-modal-header {
    margin: 0;
    padding: 0;
  }
}